<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rhinogger</title>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" media="all" href="stylesheets/reset.css">
    <link rel="stylesheet" media="all" href="stylesheets/style.css">
    <link rel="stylesheet" media="all" href="stylesheets/colors.css">
</head>
<body ng-app="rhinoApp">
<header><span>Rhinogger</span></header>
<div ng-controller="logsController" class="logs_container" ng-cloak>
    <div class="nothing" ng-hide="devices.length">nothing to show</div>
    <ul class="devices_list">
        <li ng-repeat="device in devices"
            ng-click="selectDevice(device)"
            ng-class="{'selected': device.uuid == selectedDevice}">{{device.caption}} <button class='close_device' ng-click="closeDevice(device)">x</button></li>
    </ul>
    <ul class="logs_list" ng-repeat="device in devices" ng-show="selectedDevice == device.uuid" scroll-glue>
        <li class="log_header">
            <div class="log_buttons">
                <button ng-click="clearLog(device)">clear</button>
                <input type="text" placeholder="filter" class="input_filter" ng-model="search">
            </div>
        </li>
        <li ng-repeat="message in device.messages | filter:search">
            <span class="message_body" ng-class="message.color">{{message.text}}</span>
        </li>
    </ul>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
<script src="javascripts/scrollglue.js"></script>
<script src="javascripts/app.js"></script>
</body>
</html>