.module_unknown {
    color: #e5e5e5;
}

.module_1 {
    color: #739BBE;
}

.module_2 {
    color: #F0B78E;;
}

.module_3 {
    color: #83C589;
}

.module_4 {
    color: #BB8AD3;
}

.module_5 {
    color: #BBBA62;
}