html {
  height: 100%;
  background-color: #404040;
  font-family: Monospace, Sans-Serif, Verdana;
}
body {
  height: 100%;
}
header {
  background-color: rgb(47, 47, 47);
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(147, 121, 88);
}

header span {
  vertical-align: top;
  padding-right: 10px;
}

.logs_container {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 50px 20px 20px;
}

.nothing {
  margin: 200px auto;
  width: 200px;
  color: #A5A5A5;
}

.devices_list {
  position: relative;
  left: 15px;
  z-index: 100;
}

.devices_list li {
  display: inline-block;
  padding: 8px;
  background-color: #333333;
  border: 2px solid burlywood;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #e5e5e5;
  cursor: pointer;
}

.devices_list li.selected {
  color: burlywood;
  background-color: #1f1f1f;
  border-bottom: 2px solid #1f1f1f;
}

.close_device {
  background: inherit;
  border: 0;
  color: gray;
  cursor: pointer;
  padding: 3px;
  line-height: 7px;
}

.logs_list {
  overflow: auto;
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 34px;
  background-color: #1f1f1f;
  border: 2px solid burlywood;
  border-radius: 10px;
  padding: 10px;

  font-size: 1.1em;
}

.log_buttons {
  position: fixed;
  right: 50px;
}

.log_buttons button {
  background: inherit;
  border: 1px solid rgb(50, 49, 49);
  border-radius: 4px;
  color: gray;
}

.log_buttons button:hover {
  color: lightgray;
  box-shadow: 1px 1px 2px black;
}

input.input_filter {
  background: black;
  border: 1px solid #3f3c3c;
  border-radius: 4px;
  padding: 2px 4px;
  color: lightgoldenrodyellow;
}

.device_id {
  color: grey;
}

span .info {

}

span .error {
  color: brown;
}